@use "../presets" as *;

.navbar-secondary {
  display: flex;
  align-items: center;

  min-height: 50px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    list-style: none;

    gap: 0 10px;
  }

  &__link {
    display: block;

    padding: 7px 10px;
  }
}
