@use "../presets" as *;

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 170px;
  height: 40px;
  padding: 0.25em 1em;

  letter-spacing: 0.05em;

  border-width: 2px;
  border-style: solid;
  border-radius: 40px;

  &--primary {
    border-color: $color-accent;
    background-color: $color-white;
  }

  &--secondary {
    border-color: $color-white;
    background-color: $color-accent;
  }

  &--sm {
    min-width: 130px;
    height: 35px;

    color: #ffffff;
    border-radius: 30px;
    background: $color-accent;
  }
}

.container {
  width: min(100% - $gap * 2, $container-width);

  margin-inline: auto;
}
